<div class="page_main scroll_bar maintain_main maintain_role">
    <div class="header">
        <div class="title">{{ 'home.maintainRole' | translate }}</div>
        <div class="opera_area">
            <button nz-button *ngIf="pagePermission.allowedDelete" nzType="primary" nzDanger="true" (click)="deleteRole()">{{ 'maintainRole.deleteRole' | translate }}</button>
            <button nz-button *ngIf="pagePermission.allowedCreate" nzType="primary" (click)="newRoleStart('new')">{{ 'maintainRole.newRole' | translate }}</button>
            <button nz-button *ngIf="pagePermission.allowedUpdate" nzType="primary" (click)="newRoleStart('edit')">{{ 'maintainRole.editRole' | translate }}</button>
        </div>
    </div>
    <div class="body">
        <div class="opera_bar">
            <div class="search_area">
                <div class="search_item">
                    <div class="search_name">{{ 'tableHead.roleM' | translate }}</div>
                    <nz-select [(ngModel)]="role" style="width: 220px;" (ngModelChange)="roleChange()">
                        <nz-option *ngFor="let item of roleList" [nzValue]="item.roleId" [nzLabel]="item.roleName"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div class="data_table" #dataTable>
            <nz-table #basicTable [nzData]="rolePagesData" [nzBordered]="true" [(nzPageIndex)]="tableInfo.pageIndex" [(nzPageSize)]="tableInfo.pageSize" [nzTotal]="tableInfo.pageTotal" [nzFrontPagination]="false" [nzLoading]="tableInfo.loading" [nzHideOnSinglePage]="true"
                (nzPageIndexChange)=tablePageIndexChange()>
                <thead>
                    <tr>
                        <th nzAlign="center">{{ 'tableHead.index' | translate }}</th>
                        <th nzAlign="center">{{ 'tableHead.pageName' | translate }}</th>
                        <th nzAlign="center">{{ 'tableHead.allowedRead' | translate }}</th>
                        <th nzAlign="center">{{ 'tableHead.allowedCreate' | translate }}</th>
                        <th nzAlign="center">{{ 'tableHead.allowedUpdate' | translate }}</th>
                        <th nzAlign="center">{{ 'tableHead.allowedDelete' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data let i=index">
                        <td nzAlign="center">{{ (tableInfo.pageIndex - 1) * tableInfo.pageSize + i + 1 }}</td>
                        <td nzAlign="center">{{ data.pageName | translate }}</td>
                        <td nzAlign="center"><i nz-icon nzType="check" nzTheme="outline" *ngIf="data.allowedRead"></i></td>
                        <td nzAlign="center"><i nz-icon nzType="check" nzTheme="outline" *ngIf="data.allowedCreate"></i></td>
                        <td nzAlign="center"><i nz-icon nzType="check" nzTheme="outline" *ngIf="data.allowedUpdate"></i></td>
                        <td nzAlign="center"><i nz-icon nzType="check" nzTheme="outline" *ngIf="data.allowedDelete"></i></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="newRoleModalData.show" [nzWrapClassName]="newRoleModalData.className" nzTitle="{{ newRoleModalData.title | translate }}" (nzOnCancel)="newRoleModalData.onCancel()" nzCentered="true" [nzWidth]="newRoleModalData.width">
    <div *nzModalContent>
        <div class="model_main scroll_bar">
            <div class="modal_item">
                <app-ipm-modal-item [itemData]="newRoleModalData.newRoleData.roleName" (onChange)="itemDataChange()"></app-ipm-modal-item>
            </div>
            <div class="modal_item table">
                <div class="item_name">{{ 'maintainRole.roleSettingM' | translate }}</div>
                <div class="item_content">
                    <nz-table #basicTable [nzData]="newRoleModalData.newRoleData.rolePages" [nzBordered]="true" [nzFrontPagination]="false" [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th nzAlign="center">{{ 'tableHead.pageName' | translate }}</th>
                                <th nzAlign="center">
                                    <label nz-checkbox [(ngModel)]="newRoleModalData.newRoleData.selectAll.allowedRead" (ngModelChange)="newRoleCheckAll('allowedRead','canRead')">{{ 'tableHead.allowedRead' | translate }}</label>
                                </th>
                                <th nzAlign="center">
                                    <label nz-checkbox [(ngModel)]="newRoleModalData.newRoleData.selectAll.allowedCreate" (ngModelChange)="newRoleCheckAll('allowedCreate','canCreate')">{{ 'tableHead.allowedCreate' | translate }}</label>
                                </th>
                                <th nzAlign="center">
                                    <label nz-checkbox [(ngModel)]="newRoleModalData.newRoleData.selectAll.allowedUpdate" (ngModelChange)="newRoleCheckAll('allowedUpdate','canUpdate')">{{ 'tableHead.allowedUpdate' | translate }}</label>
                                </th>
                                <th nzAlign="center">
                                    <label nz-checkbox [(ngModel)]="newRoleModalData.newRoleData.selectAll.allowedDelete" (ngModelChange)="newRoleCheckAll('allowedDelete','canDelete')">{{ 'tableHead.allowedDelete' | translate }}</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data let i=index">
                                <td nzAlign="center">{{ data.pageName | translate }}</td>
                                <td nzAlign="center">
                                    <label nz-checkbox *ngIf="data.canRead" [(ngModel)]="data.allowedRead" (ngModelChange)="newRoleCheck('allowedRead','canRead')"></label>
                                    <span *ngIf="!data.canRead">N/A</span>
                                </td>
                                <td nzAlign="center">
                                    <label nz-checkbox *ngIf="data.canCreate" [(ngModel)]="data.allowedCreate" (ngModelChange)="newRoleCheck('allowedCreate','canCreate')"></label>
                                    <span *ngIf="!data.canCreate">N/A</span>
                                </td>
                                <td nzAlign="center">
                                    <label nz-checkbox *ngIf="data.canUpdate" [(ngModel)]="data.allowedUpdate" (ngModelChange)="newRoleCheck('allowedUpdate','canUpdate')"></label>
                                    <span *ngIf="!data.canUpdate">N/A</span>
                                </td>
                                <td nzAlign="center">
                                    <label nz-checkbox *ngIf="data.canDelete" [(ngModel)]="data.allowedDelete" (ngModelChange)="newRoleCheck('allowedDelete','canDelete')"></label>
                                    <span *ngIf="!data.canDelete">N/A</span>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="newRoleModalData.onCancel()">{{ 'button.cancel' | translate }}</button>
        <button nz-button nzType="primary" [disabled]="!newRoleModalData.canSubmit" [nzLoading]="newRoleModalData.submitLoading" (click)="newRoleSubmit()">{{ 'button.confirm' | translate }}</button>
    </div>
</nz-modal>