.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    input {
        flex: 1;
    }
    .add-item {
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 6px;
    }
}