.container {
    // background-image: url('../../../assets/images/Santorini_Greece_Massimiliano_Morosinotto_6K.jpg');
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        padding: .5rem;
        box-shadow: .05rem .05rem .1rem gray;
        border-radius: .05rem;
        background-color: #FFF;
        .login-form {
            max-width: 4.5rem;
        }

        .login-form-margin {
            margin-bottom: 16px;
        }

        .login-form-forgot {
            float: right;
        }

        .login-form-button {
            width: 100%;
        }
    }
}