:host {
  .container {
    display: flex;
    nav {
      padding: 0 20px;
    }
  }
}
$color: "black";
$backColor: "white";

@mixin frontAndBackColor($front: $color, $back: $backColor) {
  color: $front;
  background-color: $back;
}

.test {
  border: 1px solid red;
  @include frontAndBackColor(red, green);
}
