<app-layout>
  <div class="aside">
    <ul>
      <li>
        <a routerLink="rxjs-demo">rxjs-demo</a>
      </li>
      <li>
        <a routerLink="directive-demo">directive-demo</a>
      </li>
      <li>
        <a routerLink="dynamic-component-demo"> dynamic-component-demo </a>
      </li>
      <li>
        <a routerLink="life-cycle"> life-cycle </a>
      </li>
      <li>
        <a routerLink="three-demo"> three-demo </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</app-layout>
