<div class="page_main scroll_bar pms_todo">
  <app-header title="{{ subTitle | translate }}" [isShowButtons]="true">
    <div buttons>
    </div>
  </app-header>
  <ng-template #titleFormRef>
    <div class="tab-wrapper">
      <form nz-form [nzLayout]="'inline'">
        <!-- 签核单号 -->
        <app-custom-input label="{{ 'PMS.SignId' | translate }}" [labelSpan]="null" [controlSpan]="null"
          [(ngModel)]="signId" [ngModelOptions]="{ standalone: true }" placeholder="{{ 'PMS.SignId' | translate }}">
        </app-custom-input>
        <!-- 關閉專案 -->
        <app-custom-select label="{{ 'PMS.CloseProject' | translate }}" [labelSpan]="null" [controlSpan]="null"
          [(ngModel)]="signResult" [ngModelOptions]="{ standalone: true }"
          placeholder="{{ 'PMS.CloseProject' | translate }}" [options]="PROJECT_STATIS"></app-custom-select>
        <!-- 日期段 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="null">{{ 'PMS.StartDate' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-date-picker nzPlaceHolder="{{ 'PMS.StartDate' | translate }}" [(ngModel)]="startDate"
              [ngModelOptions]="{ standalone: true }"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="null">{{ 'PMS.EndDate' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="null">
            <nz-date-picker nzPlaceHolder="{{ 'PMS.EndDate' | translate }}" [(ngModel)]="endDate"
              [ngModelOptions]="{ standalone: true }"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <!-- 搜索 -->
        <!-- search button [disabled]="isUserNameEmpty" -->
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="getApproveList()">
              {{ "common.SEARCH" | translate }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-template>
  <!-- 查詢結果 -->
  <app-common-table [titleFormRef]="titleFormRef" [isLoading]="isLoading" [dataSource]="signDataSource"
    [tableHeaders]="tableHeaders" [tableCells]="tableKeys" [operationTemplateRef]="operationTemplateRef">
  </app-common-table>

  <!-- 系統操作 -->
  <!-- 讀取上下文對象的element屬性值 {element:data,index:i}-->
  <ng-template #operationTemplateRef let-data="element">
    <div class="flex justify-around align-center">
      <!-- 处理进度详情 -->
      <i [style.fontSize]="'20px'" nz-tooltip nzTooltipTitle="{{ 'common.tooltip.edit' | translate }}"
        class="cursor-pointer" nz-icon nzType="edit" nzTheme="outline" (click)="switchToApproveDetail(data)"
        *ngIf="data | isCurrentUser:loginEmail">
      </i>
      <!-- 处理进度详情 -->
      <i [style.fontSize]="'20px'" nz-tooltip nzTooltipTitle="{{ 'common.tooltip.detail' | translate }}"
        class="cursor-pointer" nz-icon nzType="snippets" nzTheme="outline" (click)="switchToDetail(data)"
        *ngIf="!(data | isCurrentUser:loginEmail)"></i>
    </div>
  </ng-template>
</div>